AQI PREDICTION MODEL

data cleaning and preprocessing

In [28]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [29]:
df = pd.read_csv('16_air_quality_prediction.csv')

In [30]:
df.head()

         date  location  pm2.5   pm10  temperature  predicted_aqi
0  2023-01-01  Istanbul  29.05  58.73         15.4          40.71
1  2023-01-01    Ankara  24.74  83.86         26.4          50.63
2  2023-01-01     Izmir  23.90  76.91         27.8          39.67
3  2023-01-01     Bursa  43.67  49.58         30.6          36.50
4  2023-01-02  Istanbul  28.40  76.31         23.9          46.89

In [31]:
df.isna().sum()

date             0
location         0
pm2.5            0
pm10             0
temperature      0
predicted_aqi    0
dtype: int64

In [32]:
df.head()

         date  location  pm2.5   pm10  temperature  predicted_aqi
0  2023-01-01  Istanbul  29.05  58.73         15.4          40.71
1  2023-01-01    Ankara  24.74  83.86         26.4          50.63
2  2023-01-01     Izmir  23.90  76.91         27.8          39.67
3  2023-01-01     Bursa  43.67  49.58         30.6          36.50
4  2023-01-02  Istanbul  28.40  76.31         23.9          46.89

In [33]:
df['location'].value_counts()

location
Istanbul    365
Ankara      365
Izmir       365
Bursa       365
Name: count, dtype: int64

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1460 non-null   object
 1   location       1460 non-null   object
 2   pm2.5          1460 non-null   float64
 3   pm10           1460 non-null   float64
 4   temperature    1460 non-null   float64
 5   predicted_aqi  1460 non-null   float64
dtypes: float64(4), object(2)
memory usage: 68.6+ KB

In [35]:
df['date'] = pd.to_datetime(df['date'])

In [36]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['weekday'] = df['date'].dt.weekday

In [37]:
df.head()

,date,location,pm2.5,pm10,temperature,predicted_aqi,year,month,day,weekday
0,2023-01-01,Istanbul,29.05,58.73,15.4,40.71,2023,1,1,6
1,2023-01-01,Ankara,24.74,83.86,26.4,50.63,2023,1,1,6
2,2023-01-01,Izmir,23.90,76.91,27.8,39.67,2023,1,1,6
3,2023-01-01,Bursa,43.67,49.58,30.6,36.50,2023,1,1,6
4,2023-01-02,Istanbul,28.40,76.31,23.9,46.89,2023,1,2,0

In [38]:
df.shape

(1460, 10)